.attack_bttn{
    cursor:pointer;
    border: none;
}
#DialogueBox{
    cursor:pointer;
    position: absolute; left: 0; right: 0; top: 0; bottom: 0; 
    background-color: grey; 
    padding: 15px; 
    display: none;
}