@import url("header.css");
@import url("clear.css");
@import url("game.css");
@import url("results.css");
@import url("battle.css");

@import url("glitch.css");

main{
    min-width: 1024px;
    padding-top: 150px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}


